@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* shared styles */
.text-primary {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
.text-secondary {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
}
.title {
  color: rgb(58, 58, 58);
  font-family: "Poppins", serif;
  font-weight: 700;
  /* line-height: 40px; */
  letter-spacing: 0%;
}
.para {
  color: rgb(120, 120, 133);
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 143%;
  letter-spacing: 1.8%;
}
.btn-primary {
  border-radius: 41px;
  padding: 10px 24px;
  background: rgb(224, 44, 109);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  font-family: "Poppins", serif;
}
body {
  max-width: 1440px;
  margin: 50px auto;
}
/*navbar related styles start  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h1 {
  color: rgb(58, 58, 58);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}
.navbar ul {
  display: flex;
  gap: 34px;
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(58, 58, 58);
}
/* navbar related styles end  */

/* header related styles  */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
}
.header-details {
  max-width: 580px;
  text-align: left;
}
.header-details h1 {
  font-size: 52px;
  margin-bottom: 16px;
}
.header-details p {
  margin-bottom: 16px;
}
.main-camera {
  background-image: url("images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 80px;
}
.main-camera img {
  width: 400px;
  height: 400px;
}
/* header related styles end */

/* sponsors related styles start  */
.sponsors {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 30px 25px;
  margin-top: 80px;
  background: linear-gradient(
    135deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.378%,
    rgba(192, 204, 218, 0.1) 100%
  );
}
.sponsors img {
  width: 84px;
  height: 26px;
}

.popular h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}
.popular-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
    margin: 0 auto;
}
/* .card img{
    max-width: 300px;
} */
.card {
  text-align: left;
  max-width: 329px;
  padding: 17px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
}
.card h2 {
  color: rgb(24, 25, 31);
  font-family: "Poppins", serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}
.card h3 {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Inter", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.card h6 {
  font-family: "Inter", serif;
  color: rgb(94, 99, 102);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1px;
  text-align: left;
}
.rating {
  color: rgb(251, 130, 0);
}
.card img {
  width: 100%;
}

/* mobile responsive for smaller device  */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }

  .sponsors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 10px;
  }
  .sponsors img {
    width: 100%;
  }
  .icon {
    display: flex;
    flex-direction: column;
  }
  .header {
    flex-direction: column-reverse;
    gap: 5px;
  }
  .header-details {
    text-align: center;
  }
  .popular-cards{
    grid-template-columns: repeat(1, 1fr);
  }
}
